<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Project Z</title>

</head>

<body onload="startTime()">
    <label id="txt" title="Current timing" style="margin-left: 90%">Error in Date JS</label>
    <br>
    <br>
    <form action="" method="POST">
        <center><input type="text" title="Type here Stock Name and Enter to Search" class="form-control"
                style="width: 50%;" id='searchbar' name='searchbar' placeholder="Stock name" autofocus></center>
        <br>
        <br>
        {% if title == 'None' %}
        <p class="text-center">
            Search Query Result Not Found. Please try Something relevant.
        </p>
        {% else %}
        <table title="Data division" class="table table-hover" border="3" style="width: 70%;" align="center">
            <thead class="thead-dark">
                <tr>
                    <th title="Code">Code</th>
                    <th title="Name">Name</th>
                    <th title="Open">Open</th>
                    <th title="High">High</th>
                    <th title="Low">Low</th>
                    <th title="Close">Close</th>
                </tr>
            </thead>
            <tbody>
                {% for i in title%}
                <tr>
                    <td>{{i[0]}}</td>
                    <td>{{i[1]}}</td>
                    <td>{{i[2]}}</td>
                    <td>{{i[3]}}</td>
                    <td>{{i[4]}}</td>
                    <td>{{i[5]}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </form>
    <script>
        function startTime() {
            var today = new Date();
            var dd = today.getDate();
            var mm = today.getMonth() + 1;
            var yyyy = today.getFullYear();
            var h = today.getHours();
            var m = today.getMinutes();
            var s = today.getSeconds();
            if (dd < 10) {
                dd = '0' + dd;
            }
            if (mm < 10) {
                mm = '0' + mm;
            }
            m = checkTime(m);
            s = checkTime(s);
            document.getElementById('txt').innerHTML = dd + "/" + mm + "/" + yyyy + "  " + h + ":" + m + ":" + s;
            var t = setTimeout(startTime, 500);
        }
        function checkTime(i) {
            if (i < 10) { i = "0" + i };
            return i;
        }
    </script>

    <!-- 
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script> -->
</body>

</html>